body {
  font-family: 'Roboto', sans-serif;
  color: #212121;
}

/* Логотип студии */

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  color: #000000;
}

/* Выделение цветом части логотипа */

.logo-web {
  color: #2196f3;
}

/* Сброс стилей списков навигации, коммуникации, преимуществ, нашей работы и команды */

.nav-list,
.contacts-list,
.features-list,
.work-list,
.team-list {
  list-style: none;
}

/* Сброс стилей ссылок */

.link {
  text-decoration: none;
}

/* Ссылки навигации по страницам сайта */

.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  color: #212121;
}

/* Эффект выделения цветом при наведении и фокусе */

.nav-link:hover,
.nav-link:focus {
  color: #2196f3;
}

/* Главная почта и телефон */

.contacts-main {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  color: #757575;
}

/* Эффект выделения цветом при наведении и фокусе */

.contacts-main:hover,
.contacts-main:focus {
  color: #2196f3;
}

/* Секция герой */

.hero {
  background-color: #2f303a;
}

/* Стили к заголовку героя */

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  color: #ffffff;
}

/* Кнопка заказа услуги */

.btn-order {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
}

/* Эффект выделения цветом при наведении и фокусе */

.btn-order:hover,
.btn-order:focus {
  background-color: #188ce8;
}

/* Подзаголовки списка преимуществ */

.features-subtitle {
  font-size: 14px;
  line-height: 1.14;
}

/* Текс в подзаголовках преимуществ */

.features-text {
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}

.work {
  background-color: #f5f4fa;
}

/* Заголовок секции о нашей работе и команде */

.work-title,
.team-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* Имена членов команды */

.member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

/* Профессии членов команды */

.member-proffesion {
  font-size: 16px;
  line-height: 1.19;
  color: #757575;
}

/* Подвал страницы */

.bottom {
  background-color: #2f303a;
}

.contacts-text {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
}

/* Дополнительная почта и телефон */

.contacts-secondary {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.contacts-secondary:hover,
.contacts-secondary:focus {
  color: #2196f3;
}
